.botMessage{
   display: flex;
   justify-content: flex-start;
   padding: 5px;
   animation: spawnMessage 1s linear normal;
}
.text{
   background-color: var(--secondary-color);
   color: #cbf5f9;
   padding: 20px;
   padding-bottom: 1px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   font-size: 20px;
   font-weight: 400;
   line-height: 120%;
   word-break: break-word;
   white-space: break-spaces;
   max-width: 70%;
   position: relative;
}
.date{
   bottom: 0;
   right: 10px;
   position: absolute;
   color: #fafafa;
   font-size: 12px;
}
@media (max-width:720px) {
   .text{
      font-size: calc(10px + 16 * (100vw / 1280));
      max-width: 100%;
   }
}
.botMessageWrapper{
   display: flex;
   flex-direction: column;
}

@keyframes spawnMessage {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}