.userMessage{
   display: flex;
   justify-content: flex-end;
   padding: 5px;
   animation: spawnMessage 1s linear normal;
}
.userMessage div{
   background-color: var(--secondary-color);
   padding: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   font-size: 20px;
   font-weight: 400;
   line-height: 120%;
   word-break: break-word;
   white-space: pre-wrap;
   max-width: 70%;
}
@media (max-width:720px) {
   .userMessage div{
      font-size: calc(10px + 16 * (100vw / 1280));
   }
}
.userMessageWrapper{
   display: flex;
   flex-direction: column;
}
.title{
   display: flex;
   justify-content: flex-end;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 1px;
}
@keyframes spawnMessage {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}