.userMessage{
   display: flex;
   justify-content: flex-end;
   padding: 5px;
   animation: spawnMessage 1s linear normal;
}
.text{
   background-color: #504f4f;
   padding: 20px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   font-size: 20px;
   font-weight: 400;
   line-height: 120%;
   word-break: break-word;
   white-space: pre-wrap;
   max-width: 70%;
   position: relative;
}
.date{
   bottom: 0;
   right: 4px;
   position: absolute;
   color: #fafafa;
   font-size: 12px;
}
@media (max-width:720px) {
   .text{
      font-size: calc(10px + 16 * (100vw / 1280));
   }
}
.userMessageWrapper{
   display: flex;
   flex-direction: column;
}

@keyframes spawnMessage {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}