.MessageInputField{
   display: flex;
   align-items: center;
   flex: 0 0 70px;
   width: 100%;
   border-top: 1px solid rgba(103, 103, 103, 0.195);
   position: sticky;
   bottom: 0;
   /* background-color: var(--primary-color); */
   background-color: none;
   overflow: hidden;
}
@media (min-width: 1200px) {
   .MessageInputField{
      padding: 0 50px;
   }
}