.messages{
   padding: 10px 5px;
   height: calc(100vh - 140px);
   justify-content: flex-end;
   overflow-y: scroll;
}
.messages::-webkit-scrollbar{
   width: 10px;
}
@media (min-width:1200px) {
   .messages{
      padding: 20px 80px 0;
   }
}
